#app-mount .ChannelDms-channelmembers-header.topPill-3DJJNV {
    position: relative;
    background-color: #181818 !important
}

#app-mount .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
    --background-modifier-selected: #272727 !important
}

#app-mount>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>div {
    width: var(--sidebar-width)
}

#app-mount .ChannelDms-channelpopout-content>section>div>div {
    height: 491px;
    top: 0px !important;
}

#app-mount .ChannelDms-channelpopout-content>section>div>.auto-2K3UW5::-webkit-scrollbar-track {
    margin-top: 0px !important;
}

#app-mount .ChannelDms-channelpopout-removeButton {
    background-color: #272727 !important
}

#app-mount .container-2o3qEW {
    margin-top: 48px !important
}

#app-mount .ChannelDms-channelmembers-header.topPill-3DJJNV {
    height: 36px;
    padding-top: 0px
}