---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Ondrej Michal's Site">
	<main>
		<h1>Hello, I'm <span class="text-gradient">Ondrej Michal</span></h1>
		<p class="wip">
			WIP<br />
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		color: white;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.wip {
		line-height: 1.6;
		margin: 1rem 0;
		background: #181818;
		padding: 1rem;
		border-radius: 0.4rem;
		text-align: center;
		font-weight: 600;
		color: white;
	}

</style>
