---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import SocialLinks from '../components/SocialLinks.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';

const profileData = {
	name: 'Ondrej Michal',
	title: 'Student',
	bio: 'Management student at the University of Žilina’s Faculty of Management and Informatics blending business, marketing, economics and informatics; former design student crafting visuals and web layouts; I maintain a Discord theme, learn new programming languages and tinker with my router’s Padavan NG firmware.',
	avatarUrl: 'https://avatars.githubusercontent.com/u/36997301?v=4&s=120',
};

const skills = ['HTML/CSS', 'Astro', 'Git', 'UI Design'];

const projects = [
	{
		title: 'Alexis Modern Discord theme fixes',
		description: 'My attempt to keep Alexis Modern Discord Theme alive.',
		url: 'https://github.com/onkofonko/onkofonko.github.io/tree/main/public/theme',
		ariaLabel: 'View Alexis Modern Discord theme fixes project',
	},
	{
		title: 'Padavan firmware fork',
		description: 'A customized fork of the Padavan router firmware.',
		url: 'https://github.com/onkofonko/padavan-ng',
		ariaLabel: 'View Padavan firmware fork project',
	},
];

const socialLinks = [
	{
		href: 'https://x.com/onkozinternetu',
		ariaLabel: 'Visit my X (Twitter) profile @onkozinternetu',
		name: 'X (Twitter)',
		svgHTML: `<svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 16 16"
            aria-hidden="true"
        >
            <title>Follow me on X</title>
            <path
                d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"
            ></path>
        </svg>`,
	},
	{
		href: 'https://github.com/onkofonko',
		ariaLabel: 'Visit my GitHub profile @onkofonko',
		name: 'GitHub',
		svgHTML: `<svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            aria-hidden="true"
        >
            <title>Check out my projects on GitHub</title>
            <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path>
        </svg>`,
	},
	{
		href: 'javascript:void(0)',
		ariaLabel: 'Copy my Discord username: princeznozinternetu',
		name: 'Discord',
		svgHTML: `<svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"
            aria-hidden="true"
        >
            <title>Click to copy my Discord username</title>
            <path
                d="M 19.643 5.399 C 18.211 4.744 16.688 4.267 15.101 4 C 14.901 4.345 14.679 4.811 14.523 5.177 C 12.834 4.933 11.157 4.933 9.491 5.177 C 9.336 4.811 9.103 4.345 8.915 4 C 7.316 4.267 5.794 4.744 4.371 5.399 C 1.495 9.642 0.718 13.783 1.107 17.87 C 3.017 19.258 4.86 20.102 6.671 20.657 C 7.116 20.058 7.516 19.413 7.859 18.736 C 7.204 18.492 6.583 18.192 5.983 17.837 C 6.138 17.726 6.293 17.604 6.438 17.481 C 10.058 19.136 13.98 19.136 17.555 17.481 C 17.711 17.604 17.854 17.726 18.011 17.837 C 17.411 18.192 16.788 18.492 16.134 18.736 C 16.478 19.413 16.878 20.058 17.321 20.657 C 19.132 20.102 20.986 19.258 22.886 17.87 C 23.364 13.14 22.13 9.03 19.643 5.399 Z M 8.359 15.349 C 7.271 15.349 6.383 14.361 6.383 13.15 C 6.383 11.94 7.249 10.951 8.359 10.951 C 9.458 10.951 10.358 11.94 10.336 13.15 C 10.336 14.361 9.458 15.349 8.359 15.349 Z M 15.656 15.349 C 14.568 15.349 13.679 14.361 13.679 13.15 C 13.679 11.94 14.546 10.951 15.656 10.951 C 16.755 10.951 17.655 11.94 17.633 13.15 C 17.633 14.361 16.767 15.349 15.656 15.349 Z"
            ></path>
        </svg>`,
		isDiscord: true,
		discordUsername: 'falosnapica',
	},
];
---

<Layout title="Ondrej Michal's Site">
	<div class="container p-6 md:max-w-[1600px] md:m-auto md:p4 md:flex md:flex-col">
		<div
			class="profile-section gap-4 md:top-8 md:self-start md:w-full md:flex md:flex-row md:gap-6"
		>
			<Profile {...profileData} />
			<About bio={profileData.bio} />
		</div>
		<div class="skills-socials-section md:flex md:gap-6 md:w-full">
			<div class="sidebar-content md:min-w-[300px] md:max-w-[320px] md:flex-1">
				<Skills skills={skills} />
				<SocialLinks socialLinks={socialLinks} />
			</div>
			<div class="projects-content md:flex-2 md:min-w-[300px]">
				<ProjectsGrid projects={projects} />
			</div>
		</div>
	</div>
</Layout>

<script src="../scripts/copytext.ts"></script>
