---
import Layout from "../layouts/Layout.astro";
---

<Layout title="WIP">
	<body>
		<section>
			<h1>
				<span class="text-gradient">WIP</span>
			</h1>
			<p class="maincontent">
				I'm going to add something here at some point.<br />For now,
				enjoy my favorite quote.
			</p>
		</section>
		<section>
			<p class="maincontent">
				“Those who hate themselves cannot love or trust others.” — <span
					class="text-gradient">Rei Ayanami</span
				><br />
			</p>
		</section>
	</body>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
	}

	section {
		margin: 1rem 0;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 1rem 0;
		color: white;
	}
</style>
