---
import '../styles/global.css';
interface Props {
	bio: string;
}

const { bio } = Astro.props;
---

<div class="about-card glass mb-6 min-h-[180px] p-8 md:flex-1">
	<h2>About Me</h2>
	<div
		class="about-content about-description text-lg leading-[1.6] text-[color:var(--text-secondary)]"
		set:html={bio}
	/>
</div>
