---
import '../styles/global.css';
interface Props {
  bio: string;
}

const { bio} = Astro.props;
---

<div class="about-card glass min-h-[180px] col-2 flex-2 p-8 mb-6">
    <h2>About Me</h2>
    <div class="about-content flex flex-col gap-6">
        <p class="about-description text-lg leading-[1.6] text-[color:var(--text-secondary)]">
            {bio}
        </p>
    </div>
</div>