<footer>
  <p>
    💅 UWU Corp<span>&nbsp;•&nbsp;</span>
    <a href="https://github.com/onkofonko/onkofonko.github.io">source code</a>
  </p>
</footer>

<style>
  footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  p {
    color: white;
    text-align: center;
    font-weight: 600;
    margin: 12px 0;
  }
</style>
