---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<header>
    <nav>
        <div class="site-logo">
            <a href="/">
                <img
                    src="https://avatars.githubusercontent.com/u/36997301?v=4"
                    alt="Github profile picture"
                    loading="lazy"
                />
            </a>
        </div>
        <div id="nav-links">
            <ul>
                <li>
                    <a href="/" class="links">Home</a>
                </li>
                <li>
                    <a href="/wip" class="links">WIP</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<style>
    header {
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.4);
    }

    nav {
        background-color: var(--background-secondary);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.8em;
        height: 64px;
    }

    @media only screen and (max-width: 600px) {
        nav {
            padding: 0 1.8em;
        }
    }

    #nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul {
        float: right;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
    }

    li {
        float: left;
        padding: 0 0.6em;
    }

    .links {
        text-decoration: none;
        text-align: center;
        padding: 0.5em;
        color: white;
        transition: 0.15s ease;
        transition-property: color, text-decoration;
        font-size: 16px;
    }

    .site-logo {
        display: flex;
        align-items: center;
    }

    img {
        --img-size: 38px;
        width: var(--img-size);
        height: var(--img-size);
        padding: 0 1.1em;
        border-radius: 50%;
    }
</style>
