---
import '../styles/global.css';

interface Props {
	skills: string[];
}

const { skills } = Astro.props;
---

<div
	class="skills-card glass mb-6 flex min-h-[210px] flex-col p-8 md:col-start-1 md:row-start-1 md:mb-0 md:max-w-[330px] md:min-w-[300px]"
>
	<h2>Skills</h2>
	<div class="skill-tags flex flex-wrap gap-3">
		{
			skills.map((skill) => (
				<span class="tag glass glassactive cursor-default rounded-2xl px-4 py-2 text-sm font-medium tracking-[0.5px]">
					{skill}
				</span>
			))
		}
	</div>
</div>
