#app-mount .queryContainer-ZunrLZ {
    background: transparent;
}

#app-mount .content-1jQy2l>.membersWrap-3NUR2t>.members-3WRCEx {
    background: var(--background-primary);
}

#app-mount .background-3iPORX {
    visibility: hidden;
}

#app-mount .selectedBackground-1t6xXq {
    display: none;
}

#app-mount .bannerImage-ubW8K- {
    top: var(--server-container);
}

#app-mount .bannerImg-2PzH6z {
    width: var(--sidebar-width);
}

#app-mount .actionButtons-2vEOUh {
    min-width: 64px;
    max-width: 128px;
    width: auto;
    grid-gap: 0px;
}

#app-mount .actionButtons-2vEOUh>button:nth-child(n) {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

#app-mount .customStatusEmoji-1bFQdD {
    margin-top: 0px
}

#app-mount .actionButtons-2vEOUh>span:nth-child(n),
.actionButtons-2vEOUh>span:nth-child(n)>button {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

#app-mount .footer-31IekZ>button:not(.colorBrand-I6CyqQ) {
    color: var(--interactive-hover);
}

#app-mount .footer-31IekZ>button:not(.colorBrand-I6CyqQ):not(.lowSaturationUnderline-Z6CW6z) {
    background-color: var(--background-tertiary);
}

.content-2hZxGK>form>div>div>input {
    color: #dedede;
    background-color: #202225;
}

#app-mount .container-36u7Lw>div>div>div {
    overflow: hidden
}

#app-mount .platformIcon-k3yytQ {
    visibility: hidden
}

#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="Alexis Modern Theme"] [data-list-item-id*="channels___upcoming-events-"]>div.iconContainer-21RCa3>svg {
    height: 32px;
    width: 32px;
    margin-left: calc(50% - 8px);
    margin-bottom: 12px
}

#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="Alexis Modern Theme"] [data-list-item-id*="channels___upcoming-events-"]>div.name-28HaxV {
    text-align: center;
    font-size: 14px;
    font-family: dash2space, var(--font-primary);
    text-transform: capitalize
}

#app-mount div.icon-39rdLt {
    border-radius: 50%;
}

#app-mount .scroller-2MALzE {
    background-color: var(--background-secondary);
}

#app-mount .inspector-DFKXwB,
.inspector-2A2Chb {
    background-color: var(--background-secondary);
}

#app-mount .unicodeShortcut-3N8oDe,
.standardStickerShortcut-ObSns3 {
    background-color: var(--background-secondary);
}

#app-mount .navButtonActive-1EqC5l {
    background-color: #272727
}

#app-mount .container-1Bj0eq>svg {
    margin-left: 14px
}

#app-mount .container-1Bj0eq>ul>li>div>div.content-1gYQeQ {
    left: 14px !important;
    width: calc(var(--sidebar-width) - 66px)
}

.container-1NXEtd[aria-label*="Alexis Modern Theme"]>#channels>ul>li:nth-child(n)>div>div>.children-1MGS9G {
    position: absolute;
    left: calc(var(--sidebar-width) / 3.16);
}

#app-mount .roleName-2ZJJYR {
    padding-top: 3px;
    padding-bottom: 3px
}

#app-mount .content-1jQy2l>div>div {
    padding-bottom: 0px;
    height: calc(100% + var(--app-info-bar-height));
    background-color: var(--background-secondary) !important
}

#app-mount .sidebar-1tnWFu .content-2a4AW9 .containerDefault-3TQ5YN .children-3MeUvj {
    display: flex
}

#app-mount .addButtonIcon-3rJeaD {
    height: 14px;
    width: 14px;
    padding-top: 2px
}

#app-mount .modeUnread-3Cxepe .channelInfo-3jN1ay {
    display: flex !important
}

#app-mount .content-1jQy2l>main[aria-label=" (channel)"]>form>div>div.scrollableContainer-15eg7h.webkit-QgSAqd>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div {
    position: absolute !important
}

#app-mount .videoGrid-1tZm-F {
    background-color: var(--background-primary)
}

#account-avatar,
#account-avatar>div.UserBackgrounds-banner-container,
#account-info>div.profileBody-3QbfPe,
#account-info>div.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd.copiableNameTag-3f6roa>div.profileBadges-2pItdR.container-1gYwHN,
#account-info>div.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd.copiableNameTag-3f6roa>div.clickTarget-2uXro4>div>div.childWrapper-2wlp_S>div>div>div {
    display: none
}

#account-status-picker,
#account-set-custom-status,
#account-style-your-profile,
#account-edit-custom-status,
#status-picker-switch-account,
#account-switch-account {
    padding-left: 5px
}

#app-mount .layer-2aCOJ3>div>div>div>div[id*="account-switch-account" i],
#status-picker>div>div.submenuContainer-3EVTeH>div.layer-2aCOJ3>div>div>div>div[id*="status-picker-switch-account" i] {
    width: 100%
}

#app-mount .container-YkUktl>div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L>div.nameTag-sc-gpq.canCopy-IgTwyV>div.defaultColor-24IHKz.text-sm-normal-3Zj3Iv.usernameContainer-3PPkWq>div {
    line-height: 23px
}

#app-mount .container-YkUktl>div.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L>div.avatar-1EWyVD.wrapper-1VLyxH {
    top: 4px !important
}

.theme-dark.authBox-1HR6Ha,
.toast-q3Y4wI,
.theme-dark.navRow-dG-XX8 {
    background-color: var(--background-floating)
}

#app-mount .chatSidebarOpen--YCxhs>div:nth-child(n)>section>.toolbar-3_r2xA,
#app-mount .layerContainer-2v_Sit>div>div:nth-child(n)>section>.toolbar-3_r2xA {
    z-index: 100;
    position: fixed;
    right: 8px
}

#account-info>.headerTop-3GPUSF>.clickTarget-2uXro4>div>.childWrapper-2wlp_S>div>div>span:nth-child(2),
#account-info>.headerTop-3GPUSF>.clickTarget-2uXro4>div>.childWrapper-2wlp_S>div>div>div,
#account-info>.headerTop-3GPUSF>.clickTarget-2uXro4>div>div:nth-child(2) {
    display: none;
}

#account-info>.headerTop-3GPUSF>.clickTarget-2uXro4>div>.childWrapper-2wlp_S>div>div>span {
    margin: 2px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    font-weight: var(--menu-font-weight);
    text-align: left;
    font-family: var(--font-primary);
    color: var(--interactive-normal);
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 32px;
    background-color: transparent;
    display: block;
}

#account-info>.headerTop-3GPUSF>.clickTarget-2uXro4>div>.childWrapper-2wlp_S>div>div>span:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-active);

}

#account-info>.headerTop-3GPUSF>.profileBadges-2pItdR {
    display: none;
}

#account-info {
    height: 76px;
}

#account-info>.headerTop-3GPUSF>.clickTarget-2uXro4>div>.childWrapper-2wlp_S>div>div>span:before {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 6px;
    top: 10px;
    transform-origin: 50% -50px;
    background-color: var(--interactive-normal);
    --size: 16px;
    --mask-size: 100%;
    --icon: var(--icon-copy);
    width: var(--size);
    height: var(--size);
    -webkit-mask-size: var(--mask-size);
    mask-size: var(--mask-size);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    transform-origin: calc(var(--dropdown-width) - (8px + 8px)/ 2) -50px;
}

#account-info>div.headerTop-3GPUSF.copiableNameTag-3f6roa>div.clickTarget-2uXro4>div>div.childWrapper-2wlp_S>div>div>span:hover:before {
    background-color: var(--interactive-hover);
}

#account-info>div.headerTop-3GPUSF.copiableNameTag-3f6roa {
    height: 36px;
    top: 38px;
    left: 8px;
    width: 208px;
    padding: 0;
}

.premiumLabel-3HPvdB.selected-2Uns2B>img[alt*="Wumpus"],
.auPromo-Gk5s48,
.auPromoSelected-336Wc2 {
    display: none
}

#account-info>div.headerTop-3GPUSF.copiableNameTag-3f6roa>div.clickTarget-2uXro4>div>div.childWrapper-2wlp_S>div>div.textScroller-dc9_kz.creationDate-CJwdKT.date-YN6TCS.textRow-1sENuL {
    display: none !important
}

.animationWrapper-3DL_Ua {
    top: -5px;
    width: calc(var(--server-icon-size) + 5px);
    height: calc(var(--server-icon-size) + 6px)
}

.theme-dark .perksModal-CLcR1c {
    background-color: var(--background-primary)
}

.theme-dark .perk-19D_HN {
    background-color: var(--background-secondary-alt)
}

.panel-2ZFCRb.activityPanel-9icbyU {
    height: 0px;
}

.panel-2ZFCRb.activityPanel-9icbyU>.body-1FrnJD {
    position: fixed;
}

[class^=UserDetails]>* {
    z-index: 1;
}

.theme-dark .container-KM8BU6,
.theme-dark .reactors-1VXca7 {
    background-color: var(--background-primary);
}

.theme-dark .scroller-2GkvCq {
    background: var(--background-secondary);
}