/**
 * @name Alexis Modern Discord Theme - Fixed version
 * @author Alexis | WyvernZu#0001, OnkoFonko | OnkoFonko#6132
 * @version
 * @description A decluttered, simple, and modern theme for Discord.
 * @source https://github.com/onkofonko/onkofonko.github.io/tree/main/theme
*/

/*@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/UsrBgs.css");*/
@import url("https://onkofonko.github.io/theme/fixedsource.css");
@import url("https://onkofonko.github.io/theme/fixes.css");

:root {
    /*My Account Button*/
    --username-button-width: 128px; /* Adjust the with of the username button to match your discord username lenght */
    --username-button-padding: 6px; /* Padding for the username button */
    --username-button-right-margin: 12px; /* Width between the username button and the window controls */

    /*Server List*/
    --server-icon-size: 32px;  /* Size of the server icons */
    --server-outer-margin: 14px;  /* Spacing between the edge of the container and the server icons.*/
    --server-spacing: 10px;  /* Spacing between each server icon*/

    /*Server Info Bar*/
    --app-info-bar-height: 48px; /* Height for container that holds the server name, info, actions and search */
}