[class*=expandedFolderBackground] {
    width: var(--server-size);
    left: 50%;
    border-radius: calc(var(--server-size)/ 2);
    transform: translateX(-50%);
    height: 100%;
}

#app-mount .queryContainer-ZunrLZ {
    background: transparent;
}

#app-mount .content-1jQy2l>.membersWrap-3NUR2t>.members-3WRCEx {
    background: var(--background-primary);
}

#app-mount .background-3iPORX {
    visibility: hidden;
}

#app-mount .selectedBackground-1t6xXq {
    visibility: hidden;
}

#app-mount .bannerImage-ubW8K- {
    top: var(--server-container);
}

#app-mount .bannerImg-2PzH6z {
    width: var(--sidebar-width);
}

#app-mount .actionButtons-2vEOUh {
    min-width: 64px;
    max-width: 128px;
    width: auto;
    grid-gap: 0px;
}

#app-mount .actionButtons-2vEOUh>button:nth-child(n) {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

#app-mount .customStatusEmoji-1bFQdD {
    margin-top: 0px
}

#app-mount .actionButtons-2vEOUh>span:nth-child(n),
.actionButtons-2vEOUh>span:nth-child(n)>button {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

#app-mount .container-2o3qEW>aside>div {
    height: calc(100% + var(--app-info-bar-height))
}

#app-mount .footer-31IekZ>button {
    color: #ffffff;
}

#app-mount .container-36u7Lw>div>div>div {
    overflow: hidden
}

#app-mount .platformIcon-k3yytQ {
    visibility: hidden
}

#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="Alexis Modern Theme"] [data-list-item-id*="channels___upcoming-events-"]>div.iconContainer-21RCa3>svg {
    height: 32px;
    width: 32px;
    margin-left: calc(50% - 8px);
    margin-bottom: 12px
}

#app-mount .sidebar-1tnWFu .container-1NXEtd[aria-label*="Alexis Modern Theme"] [data-list-item-id*="channels___upcoming-events-"]>div.name-28HaxV {
    text-align: center;
    font-size: 14px;
    font-family: dash2space, var(--font-primary);
    text-transform: capitalize
}

#app-mount div.icon-39rdLt {
    border-radius: 50%;
}

#app-mount .scroller-2MALzE {
    background-color: var(--background-secondary);
}

#app-mount .inspector-DFKXwB,
.inspector-2A2Chb {
    background-color: var(--background-secondary);
}

#app-mount .unicodeShortcut-3N8oDe,
.standardStickerShortcut-ObSns3 {
    background-color: var(--background-secondary);
}

#app-mount .navButtonActive-1EqC5l {
    background-color: #272727
}

#app-mount .container-1Bj0eq>svg {
    margin-left: 14px
}

#app-mount .container-1Bj0eq>ul>li>div>div.content-1gYQeQ {
    left: 14px !important;
    width: calc(var(--sidebar-width) - 66px)
}

.container-1NXEtd[aria-label*="Alexis Modern Theme"]>#channels>ul>li:nth-child(n)>div>div>.children-1MGS9G {
    position: absolute;
    left: calc(var(--sidebar-width) / 3.16);
}

#app-mount .roleName-2ZJJYR {
    padding-top: 3px;
    padding-bottom: 3px
}

#app-mount .content-1jQy2l>div>div {
    padding-bottom: 0px;
    height: calc(100% + var(--app-info-bar-height));
    background-color: var(--background-secondary) !important
}

#app-mount .sidebar-1tnWFu .content-2a4AW9 .containerDefault-3TQ5YN .children-3MeUvj {
    display: flex
}

#app-mount .addButtonIcon-3rJeaD {
    height: 14px;
    width: 14px;
    padding-top: 2px
}

#app-mount .modeUnread-3Cxepe .channelInfo-3jN1ay {
    display: flex !important
}

#app-mount .content-1jQy2l>main[aria-label=" (channel)"]>form>div>div.scrollableContainer-15eg7h.webkit-QgSAqd>div>div.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil>div>div {
    position: absolute !important
}

#app-mount .defaultColor-24IHKz.text-sm-normal-3Zj3Iv.usernameContainer-3PPkWq {
    margin-top: 7px;
}

#app-mount .videoGrid-1tZm-F {
    background-color: var(--background-primary)
}

#account-avatar {
    display: none
}

#account-avatar>div.UserBackgrounds-banner-container {
    display: none
}

#account-info>div.profileBody-3QbfPe {
    display: none
}

#account-info>div.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd.copiableNameTag-3f6roa>div.profileBadges-2pItdR.container-1gYwHN {
    display: none
}

#account-info>div.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd.copiableNameTag-3f6roa>div.clickTarget-2uXro4>div>div.childWrapper-2wlp_S>div>div>div {
    display: none
}

#account-info>div.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd.copiableNameTag-3f6roa>div.clickTarget-2uXro4 {
    display: none
}

#account-status-picker {
    padding-left: 5px
}

#account-set-custom-status {
    padding-left: 8px
}

#account-sedit-custom-status {
    padding-left: 8px
}

#account-switch-account {
    padding-left: 5px
}

#status-picker>div>div.submenuContainer-3EVTeH>div.layer-2aCOJ3>div>div>div>div[id*="status-picker-switch-account"i] {
    width: 100%
}