.queryContainer_c359fe {
    background: transparent !important;
}

.background-3iPORX {
    visibility: hidden;
}

.selectedBackground_d847da {
    display: none;
}

.bannerImg_c85b7f {
    width: var(--sidebar-width);
}

.actionButtons_b58cbb {
    min-width: 64px;
    max-width: 128px;
    width: auto;
    grid-gap: 0;
}

.actionButtons_b58cbb>button:nth-child(n) {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

.customStatusEmoji-1bFQdD {
    margin-top: 0;
}

.actionButtons_b58cbb>span:nth-child(n),
.actionButtons_b58cbb>span:nth-child(n)>button {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

.footer__89240>button:not(.colorBrand-I6CyqQ) {
    color: var(--interactive-hover);
}

.content-2hZxGK>form>div>div>input {
    color: #dedede;
    background-color: #202225;
}

.container-36u7Lw>div>div>div {
    overflow: hidden
}

.platformIcon__05c5e {
    visibility: hidden
}

.sidebar_ded4b5 .container__590e2[aria-label*="Alexis Modern Theme"] [data-list-item-id*="channels___upcoming-events-"]>div.iconContainer__3f9b0>svg {
    height: 32px;
    width: 32px;
    margin-left: calc(50% - 8px);
    margin-bottom: 12px
}

.sidebar_ded4b5 .container__590e2[aria-label*="Alexis Modern Theme"] [data-list-item-id*="channels___upcoming-events-"]>div.name__8d1ec {
    text-align: center;
    font-size: 14px;
    font-family: dash2space, var(--font-primary);
    text-transform: capitalize
}

div.icon_c1b424 {
    border-radius: 50%;
}

.wrapper__4f229 {
    background-color: var(--background-secondary);
}

.inspector__993e1,
.inspector__17331 {
    background-color: var(--background-secondary);
}

.unicodeShortcut__1dd6b,
.standardStickerShortcut__5254d {
    background-color: var(--background-secondary);
}

.navButtonActive__735cb {
    background-color: #272727
}

.spine__88e6d,
.spineBorder_bdec8b {
    margin-left: 14px;
}

.container_f87d43>ul>li>div>div.link__95dc0 {
    left: 4px !important;
    width: calc(var(--sidebar-width) - 72px)
}

.container__590e2[aria-label*="Alexis Modern Theme"]>#channels>ul>li:nth-child(n)>div>div>.children_a486f8 {
    position: absolute;
    left: calc(var(--sidebar-width) / 3.16);
}

.roleName_d19d33 {
    padding-top: 3px;
    padding-bottom: 3px
}

.sidebar_ded4b5 .content__23cab .containerDefault__23a29 .children_d4d259 {
    display: flex
}

.addButtonIcon_b776b3 {
    height: 14px;
    width: 14px;
    padding-top: 2px
}

.modeUnread_f74c03 .channelInfo_b7ab2e {
    display: flex !important
}

.videoGrid__8b6fc {
    background-color: var(--background-primary)
}

#account-avatar,
#account-avatar>div.UserBackgrounds-banner-container,
#account-info>div.profileBody-3QbfPe,
#account-info>div.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd.copiableNameTag-3f6roa>div.profileBadges__7a7cb.container__5bda1,
#account-info>div.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd.copiableNameTag-3f6roa>div.clickTarget__440f0>div>div.childWrapper__13f3d>div>div>div {
    display: none
}

#account-status-picker,
#account-set-custom-status,
#account-style-your-profile,
#account-edit-custom-status,
#status-picker-switch-account,
#account-switch-account,
[id^=account-devmode-copy-id] {
    padding-left: 5px !important;
    width: 208px !important;
}

.container_ca50b9 .wrapper_edb6e0.avatar_f8541f {
    top: 4px !important
}

.theme-dark.authBox__7196a,
.toast-q3Y4wI,
.theme-dark.navRow-dG-XX8 {
    background-color: var(--background-floating)
}

.chatSidebarOpen_dfaa6a>div:nth-child(n)>section>.toolbar__88c63,
.layerContainer-2v_Sit>div>div:nth-child(n)>section>.toolbar__88c63 {
    z-index: 100;
    position: fixed;
    right: 8px
}

#account-info>.headerTop-3GPUSF>.clickTarget__440f0>div>.childWrapper__13f3d>div>div>span:nth-child(2),
#account-info>.headerTop-3GPUSF>.clickTarget__440f0>div>.childWrapper__13f3d>div>div>div,
#account-info>.headerTop-3GPUSF>.clickTarget__440f0>div>div:nth-child(2) {
    display: none;
}

#account-info>.headerTop-3GPUSF>.clickTarget__440f0>div>.childWrapper__13f3d>div>div>span {
    margin: 2px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    font-weight: var(--menu-font-weight);
    text-align: left;
    font-family: var(--font-primary);
    color: var(--interactive-normal);
    padding: 4px 8px 4px 32px;
    background-color: transparent;
    display: block;
}

#account-info>.headerTop-3GPUSF>.clickTarget__440f0>div>.childWrapper__13f3d>div>div>span:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-active);

}

#account-info>.headerTop-3GPUSF>.profileBadges__7a7cb {
    display: none;
}

#account-info {
    height: 76px;
}

#account-info>.headerTop-3GPUSF>.clickTarget__440f0>div>.childWrapper__13f3d>div>div>span:before {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 6px;
    top: 10px;
    background-color: var(--interactive-normal);
    --size: 16px;
    --mask-size: 100%;
    --icon: var(--icon-copy);
    width: var(--size);
    height: var(--size);
    -webkit-mask-size: var(--mask-size);
    mask-size: var(--mask-size);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    transform-origin: calc(var(--dropdown-width) - (8px + 8px)/ 2) -50px;
}

#account-info>div.headerTop-3GPUSF.copiableNameTag-3f6roa>div.clickTarget__440f0>div>div.childWrapper__13f3d>div>div>span:hover:before {
    background-color: var(--interactive-hover);
}

#account-info>div.headerTop-3GPUSF.copiableNameTag-3f6roa {
    height: 36px;
    top: 38px;
    left: 8px;
    width: 208px;
    padding: 0;
}

.premiumLabel_f2cd55.selected_d25ad4>img[alt*="Wumpus"],
.auPromo__9a678,
.auPromoSelected__29783 {
    display: none
}

#account-info>div.headerTop-3GPUSF.copiableNameTag-3f6roa>div.clickTarget__440f0>div>div.childWrapper__13f3d>div>div.textScroller-dc9_kz.creationDate-CJwdKT.date-YN6TCS.textRow__4750e {
    display: none !important
}

.animationWrapper-3DL_Ua {
    top: -5px;
    width: calc(var(--server-icon-size) + 5px);
    height: calc(var(--server-icon-size) + 6px)
}

.theme-dark .perksModal-CLcR1c,
.theme-dark .container__0a30f {
    background-color: var(--background-primary)
}

.theme-dark .perk-19D_HN {
    background-color: var(--background-secondary-alt)
}

.panel_bd8c76.activityPanel__22355 {
    height: 0;
}

.panel_bd8c76.activityPanel__22355>.body__709f6 {
    position: fixed;
}

[class^=UserDetails]>* {
    z-index: 1;
}

.theme-dark .container_dc03c3,
.theme-dark .reactors__20ab0 {
    background-color: var(--background-primary);
}

.theme-dark .scroller__5fda0 {
    background: var(--background-secondary);
}

#community-tab>div>button {
    z-index: 10
}

.PronounDB-pronouns-text {
    opacity: 0;
    transition: opacity .175s ease
}

.messageListItem__6a4fb:hover .PronounDB-pronouns-text {
    opacity: 1
}

#profile-customization-tab {
    position: relative;
    z-index: 0;
    padding: var(--settings-top) 40px 80px;
}

.avatarWrapper-3y0KZ1>div>div>svg>circle {
    display: none;
}

.overlayBackground__86b78>.menu_dc52c6.flexible__7055b.menu__5cf7f:before {
    display: none;
}

[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2>div>.overlayBackground__86b78>*:not(.menu_dc52c6):not(.divider__2bbbc),
[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2>div>*:not(.overlayBackground__86b78),
[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2>div>.overlayBackground__86b78>.divider__2bbbc.divider__56f26 {
    display: none;
}

[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2>div>.overlayBackground__86b78>.divider__2bbbc {
    margin-top: 16px;
}

#account>div>.separator__18122 {
    width: 196px;
    margin-left: 6px;
}

[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2 {
    width: 220px;
}

[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2>div>.overlayBackground__86b78 {
    margin: 28px 0px 0px 0px;
}

[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2,
[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2:before,
.overlayBackground__86b78>.menu_dc52c6.flexible__7055b.menu__5cf7f {
    width: 220px !important;
}

[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>div>.userPopoutOuter_d739b2:before {
    z-index: 2;
}

.theme-dark .keyboardShortcutsModal__74c71 {
    background-color: var(--background-primary);
}

.submenu_acf564.menu_dc52c6[aria-activedescendant^="message-apps"] {
    width: var(--dropdown-width);
}

.submenu_acf564.menu_dc52c6[aria-activedescendant^="message-apps"]>div>.listItems__699d1 {
    flex-wrap: wrap;
    position: absolute;
    margin-top: 6px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(var(--dropdown-width) - 12px)
}

.submenu_acf564.menu_dc52c6[aria-activedescendant^="message-apps"]>div>.listHeight_d99a96 {
    display: block;
    margin-top: -4px;
}

/* guild (home/browse/etc) tabs (buttons) */
.actionButton-2ae9DJ {
    background: var(--background-modifier-selected);
}

/* home tab */
.homeContainer__6bec1 {
    background-color: var(--background-primary);
}

.widgetsContainer__97ced>div {
    background: var(--background-secondary);
}

/* browse channels tab*/
.search__4a09e.container__7712a.medium__0fb5d {
    background: var(--background-secondary);
}

/* forums */
.theme-dark .container_b181b6 {
    background-color: var(--background-primary);
}

.mainCard__8a660 {
    background-color: var(--background-secondary);
}

.mainCard__8a660.header_c01fde {
    background-color: var(--background-secondary);
}

.tagListInner__6097c>div {
    background-color: var(--background-secondary);
}

.sortDropdown_ec3016.lookFilled__19298{
    background-color: var(--background-secondary);
}

button.tagsButton_e96762 {
    background: var(--background-secondary);
}

/* discover > student hubs */
.container__8877d {
    background: var(--background-secondary);
}

.customColorPicker__3cb6a {
    background: var(--background-floating) !important;
    border-color: var(--background-modifier-accent) !important;
}

.theme-dark .container__7590f,
.theme-dark .container__10dc7,
.theme-dark .scrollerContainer_bf5dbd,
.background_cb0a80 {
    background-color: var(--background-primary);
}

.chatHeaderBar__28ee6 {
    z-index: 2;
    background-color: var(--background-secondary);
}

.channelRow__96673,
.prompt__1b100,
.profile_b28ef9 .profileCard_bd55ee,
.action_c957d9,
.sidebarCardWrapper__2c840 {
    background-color: var(--background-secondary);
}

.userCardInner_d6aa46 {
    background: var(--background-secondary);
}

.caret_ce50ce {
    margin-left: 4px;
}

.theme-dark .textContentFooter__5a630 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
}

.gameWrapper__5b041>.wrapper__2c808>.badge__1a553 {
    background: var(--background-secondary);
    border-radius: 50%;
    padding: 2px;
    right: -8px;
    bottom: -4px;
}

.gameWrapper__5b041>.wrapper__2c808>.svg__7900e {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-top: 4px;
}

.gameWrapper__5b041>.wrapper__2c808>.svg__7900e>foreignObject {
    mask: none
}

.activityPanel__22355>div>.actions__9256d:has(button:nth-child(n+2)) {
    flex-direction: column-reverse;
    bottom: 19px;
    position: relative;
}

.activityPanel__22355>div>.actions__9256d:has(button:nth-child(n+3)) {
    bottom: 35px
}

.activityPanel__22355>div>.actions__9256d:has(button:nth-child(n+2)) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 40px, #111111 40px, #111111 100%);
    border-radius: 50px 50px 0 0;
    padding: 6px;
    margin: -6px;
}

.activityPanel__22355>div>.actions__9256d:has(button:nth-child(n+2))>button:nth-child(2) {
    margin-bottom: 6px;
}

.container-mAkQVR {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7px;
    margin-bottom: 1px;
}

.akaBadge-ep3q0P {
    color: var(--header-primary);
    background-color: unset;
    font-weight: 600;
    margin-right: 0px;
    margin-left: -6px !important;
}

.container-mAkQVR>.nicknames-3g5AJ9 {
    color: var(--text-normal) !important;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.avatarWrapper_ba5175>.nameTag__0e320.canCopy__81263 {
    font-size: 14px;
    line-height: 23px
}

.popout__1bcac>.titleBar__01af6 {
    position: relative;
    height: 32px;
    margin: var(--frame-gap) 0 calc(-1 * var(--frame-gap)) 0;
}

.popout__1bcac .recentsIcon__3c4cf>.iconWrapper_af9215 {
    display: none
}

.iconItem__8e3b8.alwaysShown__90ff7 {
    display: none;
}

.side_b4b3f6>.item__48dda:not(.role-3pGE29)>div {
    flex: 1;
}

.container_c3bf25>* {
    max-width: 100%
}

.container_def45c .scroller__1f96e,
.chat__4eed1 .scroller__1f96e {
    top: 0;
}

.chat__4eed1 .scrollerInner__059a5 .container_b03b4b {
    margin-top: 0
}

.linkBottom_bac113:has(.statusDiv_a4cf67) {
    padding: 0 0 6px 6px;
    margin-top: -4px;
}

.tooltip__01384:has(.tooltipBodyContainer__182a5):has(.tooltipPremiumFooterContainer__6fefb),
.tooltip__01384:has(.tooltipContent__79a2d):has(.tooltipRemovePadding__43c95) {
    left: 86px
}

[id^=popout]>div>.accountProfilePopoutWrapper_af829a>.popoutContainer__3d17d>.container__0ec3c{
    height: 710px!important;
    position: absolute;
    top: 0px;
    left: -332px;
}